<div id="home" class="tab-pane active">
  <br />
  <div class="login-form">
      <h3 class="text-center pb-4 text-white">Đăng nhập admin</h3>
      <hr>
      <br>
  <form #ngFormDN="ngForm" (ngSubmit)="dangNhapAdnin(ngFormDN)">
      <div class="form-group">
          <label for="email">Tên tài khoản</label>
          <input #taiKhoan name="TaiKhoan" type="text" class="form-control"/>
          <!-- bat loi Ten TK -->
        </div> 
      <div class="form-group">
          <label for="pwd">Mật khẩu</label>
          <input #matKhau="ngModel" ngModel name="MatKhau" type="password" class="form-control"/>
          
        </div> 
    <button type="submit" class="text-center m-auto btn-info btn btntabdn">Đăng nhập</button>
  </form>
  </div>
</div>
