<!-- <link rel="stylesheet" href="../../../olwcarousel/owl.carousel.min.css">
<link rel="stylesheet" href="../../../olwcarousel/owl.theme.default.min.css"> -->

<div class="all m-auto" id="film-new">
    <div class="container m-auto py-5">
      <div class="row title-list py-4">
        <div class="co mr-3 line-content">
          <div class="line"></div>
        </div>
        <div class="co title text-light">
          <h2>Phim mới</h2>
          <p>Lorem ipsum dolor sit amet consectetur.</p>
          <div class="line2"></div>
        </div>
      </div>
        <div class="row m-auto">
          <div class="col-md-12 py-4 m-auto">
            <!--  -->
            <app-film-dangchieu></app-film-dangchieu>
          </div>
        </div>
      
    </div>
  </div>
  