<app-header></app-header>
<div class="all">
    <img class="background" [src]="chiTietPhim.HinhAnh" alt="Pineapple" width="300" height="300">
    <div class="container py-5">
    <div class="row text-white">
        <div class="col-md-4">
                <img class="circle" [src]="chiTietPhim.HinhAnh" alt="Pineapple">
                <div class="img-play">
                    <a class="venobox" data-autoplay="true" data-vbtype="video" [href]=[chiTietPhim.Trailer]><i class="fas fa-play-circle"></i></a>
                </div>
        </div>
        <div class="col-md-4">
            <h5 class="py-3">Chi tiet phim</h5>
            <span class="badge badge-success mx-2 text-dark">{{chiTietPhim.MaPhim}}</span>
            <span class="my-4 tenphim text-white">{{chiTietPhim.TenPhim}}</span>
            <p class="py-3 mota">{{newmota}}</p>
            <a class="btn btn-danger" href="#datve">Đặt vé</a>
        </div>
        <div class="col-md-4 text-center p-5">
            <i class="fas fa-star stars"> </i>
                <p class="danhgia">{{chiTietPhim.DanhGia}}</p><span class="txt">s<br>a<br>o</span>
        </div>
    </div>
    </div>
</div>
<div class="a container py-5" id="datve">
        <div class="m-auto pb-4">
                <div class="row title-list py-4">
                  <div class="co mr-3 line-content">
                    <div class="line"></div>
                  </div>
                  <div class="co title">
                    <h2>Lịch chiếu</h2>
                    <p>Chọn cụm rạp, lịch chiếu, giờ chiếu.</p>
                    <div class="line2"></div>
                  </div>
                </div>
        </div>
        <div id="accordion" class="lichchieu-menu">
                
                <div class="card py-3 mb-4">
                  <div class="card-header">
                    <p class="card-link" data-toggle="collapse" href="#collapseOne">
                      <img width="50px" src="https://s3img.vcdn.vn/123phim/2018/09/404b8c4b80d77732e7426cdb7e24be20.png">
                      <span class="mx-3">Lotte Cinema</span>
                    </p>
                  </div>
                  <div id="collapseOne" class="collapse show" data-parent="#accordion">
                    <div class="card-body" *ngFor="let item of chiTietPhim.LichChieu">
                      <span>{{item.NgayChieuGioChieu | date : "dd/MM/y -- h:mm:ss a"}}</span>
                      <span class="badge text-white badge-danger mx-2 p-1">{{item.GiaVe}}</span>
                      <span class="text-danger">VND</span>
                      <button routerLink="/dat-ghe" [queryParams]="{malichchieu : item.MaLichChieu, maphim : chiTietPhim.MaPhim, giochieu: item.NgayChieuGioChieu}" class="btn btn-danger float-right">Book</button>
                    </div>
                  </div>
                </div>
                <div class="card py-3 mb-4">
                  <div class="card-header">
                    <p class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                        <img width="50px" src="http://capkeosaigon.com/upload/images/unnamed.png">
                        <span class="mx-3">CGV Cinema</span>
                    </p>
                  </div>
                  <div id="collapseTwo" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                      Không có suất chiếu nào !
                    </div>
                  </div>
                </div>
                <div class="card py-3 mb-4">
                  <div class="card-header">
                    <p class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                        <img width="50px" src="https://i.moveek.com/media/cache/no_resize/media/05d40eb5d3c66e32dc62b7a055422166ab3d53e9.png">
                        <span class="mx-3">Galaxy Cinema</span>
                      </p>
                  </div>
                  <div id="collapseThree" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        Không có suất chiếu nào !
                    </div>
                  </div>
                </div>
        </div>
</div>

<app-footer></app-footer> 